.container {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(165, 134, 234, 0.099) 88.02%,
    rgba(152, 116, 231, 0.198) 106.17%
  );
  height: 100vh;
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
  position: relative;
}
.het {
  font-family: "TT Commons";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #04004d;
  margin-bottom: 50px;
}
.top {
  background: #ffffff;
  border: 2px solid #f0edf2;
  border-radius: 9px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.span {
  background: #f0edf2;
  border-radius: 9px;
  width: 66px;
  height: 66px;
}
.part {
  text-align: left;
  align-items: flex-start;
}
.part p:nth-of-type(1) {
  color: #04004d;
  font-weight: 400;
  font-size: 18px;
  font-family: "TT Commons";
  line-height: 18px;
}
.part p:nth-of-type(2) {
  color: #1a1a1a;
  font-family: "TT Commons";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-top: 20px;
}
.buts {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.rott {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rott input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
  border-radius: 50%;
}

.rott:hover input ~ .checkmark {
  background-color: #ccc;
}

.rott input:checked ~ .checkmark {
  background-color: white;
  border: 1.5px solid #beabe3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  transition: all 0.4s ease-in-out;

}

.rott input:checked ~ .checkmark:after {
  display: block;
}

.rott .checkmark:after {
  top: 2.5px;
  left: 2.5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #7c5ad3;
}
.buts{
  width: 100%;
  outline: none;
  border: none;
  background: #5f31b4;
  border: 1px solid #48258d;
  border-radius: 9px;
  cursor: pointer;
  font-family: "TT Commons";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  color: #fff;

}
.btn {
  color: #fff;
  text-align: center;
  width: 100%;
  font-family: "TT Commons";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}


.last {
  text-align: center;
  margin-top: 50px;
  font-family: "TT Commons";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #2e216e;
  opacity: 0.45;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 30px;
  }
  .content {
    width: 100%;
  }
  .top {
    width: 100%;
  }
  .span {
    display: none;
  }
  .part p:nth-of-type(2) {
    font-size: 12px;
  }
}
